.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.portfolio-card {
    padding: 20px;
    width: 100%;
    max-width: 380px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgb(0,0,0,0.1);
}

.header {
    display: flex;
    align-items: center;
    gap: 20px
}

.profile-image {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.profile-info {
    flex: 1;
}

.name{
    font-size: 12px;
}

.title{
font-size: 12px;

}