.portfolio-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 12px;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.portfolio-card.light {
    background-color: white;
    color: rgb(70, 63, 63);
    padding: 20px;
    width: 100%;
    max-width: 380px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgb(0, 0, 0, 0.1);
}

.portfolio-card.dark {
    background-color: rgb(65, 63, 63);
    color: white;
    padding: 20px;
    width: 100%;
    max-width: 380px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgb(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    gap: 20px
}

.profile-image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    flex: 1;
}

.name {
    font-size: 14px;
}

.title {
    font-size: 14px;
}

.bio-section {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5;
}

.skills-section {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.skills-section.dark span {
    background-color: black;
    color: white;
}

.skills-section span {
    font-size: 13px;
    font-weight: 600;
}

.skill-item {
    background-color: #f0f0f0;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
}

.skills-label{
    font-weight: 700;
    margin-right: 8px;

}

.like-section {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 20px;    
    font-size: 14px;
    font-weight: 600;
    color: #007BFF;
    cursor: pointer;  
}

.like-button {
    padding: 5px 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.like-count {
    font-size: 14px;
}
