.portfolio-container {
    font-family: Arial, sans-serif;
    padding: 40px 16px;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 12px;
    background-color: lightgray; 
    position: relative;

}

.portfolio-card {
    padding: 20px;
    max-width: 520px;
    border-radius: 16px;
    margin: 20px auto;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08); 
    position: relative;
    transition: background-color 0.3s, color 0.3s;
}

.portfolio-card.light {
    background-color: #ffffff;
    color: #333333;
}

.portfolio-card.dark {
    background-color: #1e1e1e;
    color: #f5f5f5;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.header {
    display: flex;
    align-items: center;
    gap: 20px
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    flex: 1;
}

.name {
    font-size: 32px; 
    font-weight: 700;
}

.title {
    font-size: 22px;
    font-weight: 500;
    color: #555;
}

.bio-section {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
    text-align:left;
}

.skills-section {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
}

.skills-label {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}


.skills-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill-item {    
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transform: transform 0.2s;
}


.skills-section.light .skill-item{
    background-color: #f0f0f0;
    color: #333;
}

.skills-section.dark .skill-item{
    background-color: #333;
    color: #f5f5f5;
}

.skills-section span {
    font-size: 18px;
    font-weight: 400;
}


.like-section {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    gap: 12px;
    flex-wrap: wrap;
}

.like-section button{
    font-size: 20px;
}

.like-button,
.contact-button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.contact-button{
    margin-left: auto;
}

.like-count {
    font-size: 20px;
}

.theme-toggle-button{
    background-color: #007BFF;
    color: white;
    position: absolute;
    top: 20px;
    right: 50px;
    padding: 8px 12px;
}

.theme-toggle-button.light{
    background-color: #007Bff;
    color: #ffffff;

}

.theme-toggle-button.dark{
    background-color: #1a73e8;
    color: #ffffff;
}


@media (max-width: 900px) {
    .header {
        flex-direction: column;
        text-align: center;
    }
}









