.movie-app {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 12px;
    background-color: lightgray;
}

.movie-app.light
{
    background-color: white;
    color: black
}

.movie-app.dark
{
    background-color: rgb(65, 63, 63);
    color: white;
}

.movie-header {
    text-align: left;
    margin-bottom: 20px;
}

.movie-header h1 {
    font-size: 24px;
    color: black;
}

.movie-card.light {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 15px;
    margin-bottom: 15px;
    background-color: white;
    color: black
}

.movie-card.dark {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 15px;
    margin-bottom: 15px;
    background-color: rgb(65, 63, 63);
    color: white;
}


.movie-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
}
.movie-info {
    margin-top: 10px;
}

.rating {
    display: inline-block;
    background-color: orange;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
    margin-right: 10px;
}

.tag-item {
    display: inline-block;
    background-color: blue;
    color: #fff;
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 12px;
    margin-right: 5px;
    margin-top: 5px;
}

 .favorite {
    background-color: green;
    color: white;
    border-radius: 15;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 12px;
    cursor: pointer;
    float: right;
}
.favorite-movies {
    margin-top: 30px;
}

.favorite-movie-info {
    font-size: 16px;
    margin-bottom: 8px;
    list-style: none;  
}
.remove-favorite {
    background-color: red;
    color: white;
    border-radius: 15;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 12px;
    cursor: pointer;
    margin-left: 10px;
}

.search-bar {
    margin-bottom: 20px;
    text-align: center;     
}

.search-input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
