.switch-app{
  margin: 20px 0;
  justify-content: center;
  display: flex;
  gap: 20px;
}

.switch-app button.active{
background-color: blue;
color: white;
}

.App{
  min-width: 100vh;
  padding: 20px;
}